body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
    color: #222;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-decoration: underline;
}

.cilio { color: red; }
.millo { color: gray; }
.zephyr { color: green; }
.camus { color: yellow; }
.yakon { color: brown; }
.gerania { color: skyblue; }
.junko { color: blue; }
.lirio { color: orange; }

.titulo-legendarios{
    text-align: center;
}

#reshiram img,
#zekrom img {
    display: block;
    float: right;
    margin-left: 20px;
    max-width: 300px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    text-align: center;
}
#historia{
    margin-right: 40%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
}

ul li:hover {
    text-shadow: none;
    transform: none;
    transition: none;
}

.tabla-historia {
    border: none;
    border-collapse: collapse; 
}

.tabla-historia td {
    border: none;
}

.tabla-historia td:first-child {
    padding-right: 30px; 
}

.tabla-historia td:last-child {
    padding-left: 30px;
}


.imagenes-legendarios {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin: 20px 0;
}

.imagenes-legendarios figure {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenes-legendarios img {
    height: 250px; 
    width: auto;
    border-radius: 10px;
    margin-bottom: 8px;
}

.imagenes-legendarios cite {
    display: block;
    font-style: italic;
}

#iniciales h2 {
    text-decoration: underline;
    text-align: center;
    margin-top: 40px;
}
