body {
    padding: 20px;
    margin: 0;
}

.content {
    display: flex;
    gap: 0; 
}


.item1 {
    flex: 2;                
    padding: 24px;
    background-color: teal;
    color: white;
}


.derecha {
    flex: 1;               
    display: flex;
    flex-direction: column;
}


.item2, .item3 {
    flex: 1;
    padding: 24px;
    border: 1px solid #ccc;
}
